@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    @* Start Headers*@
   @*  <center>
        <div class="m-5">
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-success">About Us</a>
            <a href="/Home/ContactUs" class="btn btn-danger">Contact Us</a>
            <a href="/Home/Privacy" class="btn btn-warning">Privacy</a>
        </div>
    </center> *@
    @* End Headers*@

    <center>
        <div class="m-5">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
            <a asp-controller="Home" asp-action="AboutUs" class="btn btn-success">About Us</a>
            <a asp-controller="Home" asp-action="ContactUs" class="btn btn-danger">Contact Us</a>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-warning">Privacy</a>
        </div>
    </center>
    <div>
        @RenderBody()
    </div>
    @* Start Footer*@
    <center>
        <div class="m-5">
            <p>
                CopyRights &copy; Route @DateTime.Now.Year
            </p>
        </div>
    </center>
</body>
</html>
